* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(90deg, rgba(0,159,255,1) 0%, rgba(0,0,255,1) 50%, rgba(30,23,145,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container{
    padding: 20vh 5vw;
    background-color: white;
    border: 2px solid black;
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.3);
}

#to-do-link{
    text-decoration: none;
}