* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(0, 159, 255, 1) 0%, rgba(0, 0, 255, 1) 50%, rgba(30, 23, 145, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    padding: 20px;
    border-radius: 7px;
    background-color: black;
}

.display-box{
    padding: 5px;
    border-radius: 7px;
    border:solid blue;
    background-color: red;
}

input[type=button]{
    background-color: orange;
}