* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgba(0, 159, 255, 1) 0%, rgba(0, 0, 255, 1) 50%, rgba(30, 23, 145, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    padding: 30px 20px;
    border-radius: 10%;
    background-color: #495057;
    width: 20%;
    min-width: 350px;
}

.display-box{
    padding: 22px 20px;
    border-radius: 7px;
    border:solid black 3px;
    background-color: #adb5bd;
    color: black;
    font-size: 15px;
    box-shadow: 0 1px 5px;
}

::placeholder{
    color:rgba(0, 0, 0, 0.582);
    font-size: 15px;
}

input[type=button]{
    background-color: #ced4da;
    border-radius: 7px;
    width: 40px;
    padding: 20px 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 5px 5px;
}

#btn-clear{
    background-color: #f81717
}

#btn-calculate{
    background-color: #37f71a;
}

@media (min-width: 900px){
    .calculator{
        width: 350px;
    }
}